<div class="container">
  <div class="top-row">
    <h1>Vývojářský test</h1>
    <button (click)="editInput = !editInput" >Nastavení</button>
  </div>

  <div *ngIf="editInput; else gameContainer">
    <h3>Vstup pro vlastní matici (10 až 20 řádků stejné délky)</h3>
    <textarea [(ngModel)]="inputGrid" rows="20" cols="40" placeholder="Zadejte svou matici (10x10 až 20x20) zde..."></textarea>
    
    <h3>Vstup pro vlastní slova (oddělená mezerou)</h3>
    <input [(ngModel)]="inputWords" placeholder="Zadejte slova k vyhledání..." />
  
    <button (click)="setCustomGrid()">Nastavit vlastní matici a slova</button>
  </div>
  

<ng-template class="game-container" #gameContainer>
  <!-- Display the grid -->
   <div class="middle-row" >
    <div class="child">
  <h3>Osmisměrka</h3>
  <div class="grid">
    <div *ngFor="let row of grid; let i = index">
      <span *ngFor="let cell of row.split(''); let j = index"
            [class.highlighted]="isHighlighted(i, j)">
        {{ cell }}
      </span>
    </div>
  </div>
</div>
<div class="child">
  <h3>Hledaná slova</h3>
  <ul>
    <li *ngFor="let result of results" (mouseover)="highlightWord(result.position)" (mouseleave)="clearHighlight()">
      "{{ result.word }}" je ve směru {{ result.direction }}
    </li>
  </ul>
</div>
</div>

  <h3>Tajenka</h3>
 
  <div class="grid" (mouseover)="highlightWord(secretMessagePosition)" (mouseleave)="clearHighlight()">
    <span *ngFor="let char of secretMessage.split('')">{{ char }}</span>
  </div>
</ng-template>
</div>


  
